[SddmGreeterTheme]
Name=Win98
Description=Win98
Author=Mark Whittaker
Copyright=
License=GPLv3
Type=sddm-theme
Version=3.0
Website=https://www.pling.com/u/phob1an/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=phobian@tutanota.com
Theme-Id=reactionary
Theme-API=2.0
QtVersion=6
